<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>This is the best program ever!</title>
</head>
<body>
<h1>The best cars ever!</h1>
<ul>
    {{range .Items}}
    <li>
        {{.Name}} -- {{.Manufacturer}} -- {{.Year}}
    </li>
    {{end}}
</ul>
</body>
</html>